/**
 * Jeux et stratégies
 * 2011 Francis Lavoie-Renaud <francislr@gmail.com>
 */

@charset "UTF-8";

body {
  font: 100% sans-serif;
  color: #000000;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

#header, #breadcrumb, #content, #footer {
  margin-right: 30px;
  min-width: 200px;
}

#header {
  background-color: #222222;
  color: #ffffff;
  padding: 8px 15px;
  -webkit-box-shadow: 2px 2px 5px #c0c0c0;
  -moz-box-shadow: 2px 2px 5px #c0c0c0;
}

#breadcrumb {
  font-size: 12px;
  margin: 10px 30px 10px -1px;
  padding-left: 15px;
}

#breadcrumb a {
}

#breadcrumb a:hover  {
  background-color: #ffffff;
}

#content {
  background-color: #ffffff;
  margin: 10px 30px 10px -1px;
  padding: 8px 15px;
  border: 1px solid #a7d7f9;
}

#footer {
  font-size: 75%;
  text-transform: uppercase;
  background-color: #222222;
  color: #4e4e4e;
  padding: 8px 15px;
  -webkit-box-shadow: 2px 2px 5px #c0c0c0;
  -moz-box-shadow: 2px 2px 5px #c0c0c0;
}

#footer a {
  color: #7b7b7b;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0.25em 0;
  padding: 0;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0.25em 0;
  padding: 0;
}

p {
  margin: 0.25em 0;
  padding: 0;
}

a {
  color: #2679b5;
}

ul.listing {
  margin : 0;
  padding: 0;
}

ul.listing li {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

table.table {
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #9eb5b7;
  border-right: 1px solid #9eb5b7;
}

table.table td, table.table th {
  border-left: 1px solid #9eb5b7;
  border-top: 1px solid #9eb5b7;
}

table.table caption {
  padding: 0 0 5px 0;
  font-size: 11px;
  font-style: italic;
  text-align: right;
}

table.table th {
  font-size: 75%;
  color: #383838;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background-color: #b8cdd0;
  background-image: url(table-header.png);
  background-repeat: no-repeat;
}

table.table th a {
  color: #000000;
}

table.table thead th.nobg {
  border-top: 0;
  border-left: 0;
  background: none;
}

table.table tbody tr td {
  font-size: 100%;
  background: #ffffff;
  padding: 6px 6px 6px 12px;
  color: #383838;
  overflow: hidden;
}


table.table tbody tr.alt td {
  background: #f4fcff;
  color: #383838;
}

table.table tbody tr th {
  background: #ffffff;
  font-size: 60%;
  font-weight: bold;
}

table.table tbody tr.alt th {
  background: #f4fcff;
  color: #474747;
}

fieldset {
  border-top: 1px solid #a8d0ec;
  border-left: 1px solid #a8d0ec;
  border-right: 1px solid #558db4;
  border-bottom: 1px solid #558db4;
  padding: 5px 10px;
  padding-bottom: 10px;
  margin: 0.25em 0;
}

fieldset legend {
  font-size: 70%;
  text-transform: uppercase;
  padding: 0 4px;
}

fieldset label {
  font-size: 80%;
  display: inline-block;
  width: 130px;
  padding-right: 2px;
  padding-top: 3px;
  vertical-align: top;
}

fieldset ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset ul li {
  margin: 4px 0;
  display: inline-block;
  width: 150px;
  vertical-align: top;
}

fieldset ul li.controls {
  width: 100%;
}

fieldset .text, fieldset .select {
  border-top: 1px solid #a8d0ec;
  border-left: 1px solid #a8d0ec;
  border-right: 1px solid #558db4;
  border-bottom: 1px solid #558db4;
  padding: 2px;
  -webkit-box-shadow: 1px 1px 3px #c0c0c0;
  -moz-box-shadow: 1px 1px 3px #c0c0c0;
  width: 123px;
}

fieldset .select {
  padding: 1px;
}

button.button {
  font: 15px sans-serif;
  border: none;
  cursor: pointer;
  height: 30px;
  background: #d7d7d7 url(button.png) repeat-x;
  border: solid 1px;
  border-color: #CCC #999 #999 #CCC;
}

button.button:active {
  background: #cecece;
}

/**
 * Matrice is used in some games
 */
table.matrix .text {
  width: 21px;
  text-align: center;
}

table.matrix td {
  padding: 4px;
}
