
.Hanoi .Timer {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.Hanoi .EndMessage {
  text-align: center;
  position: absolute;
  margin-left: 12px;
  top: 50%;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.Hanoi .EndMessage.LoseMessage {
  color: #c30000;
}

.Hanoi .EndMessage.WinMessage {
  color: #0b9d00;
}

.Hanoi .Ribbon {
  width: 29px;
  height: 69px;
  background-image: url(ribbons.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font: 24px verdana, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.Hanoi .Ribbon:hover {
}

.Hanoi .Tower {
  display: inline-block;
  width: 135px;
  text-align: center;
  margin-bottom: 27px;
  cursor: pointer;
}

.Hanoi .Disk {
  display: block;
  width: 120px;
  height: 39px;
  background-image: url(disks.png);
  position: relative;
}

.Hanoi .Tower .Disk {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -27px;
}

.Hanoi .None {
  visibility: hidden;
}

.Hanoi .Disk1{
  background-position: 0 -12px;
  z-index: 105;
}

.Hanoi .Disk2 {
  background-position: 0 -61px;
  z-index: 104;
}

.Hanoi .Disk3 {
  background-position: 0 -113px;
  z-index: 103;
}

.Hanoi .Disk4 {
  background-position: 0 -167px;
  z-index: 102;
}

.Hanoi .Disk5 {
  background-position: 0 -222px;
  z-index: 101;
}

.Hanoi .Disk6 {
  background-position: 0 -277px;
  z-index: 100;
}

.Hanoi .Disk7 {
  background-position: 0 -325px;
  z-index: 99;
}

.Hanoi .Disk8 {
  background-position: 0 -378px;
  z-index: 98;
}

.Hanoi .Logger {
  border-top: 1px solid #A8D0EC;
  border-left: 1px solid #A8D0EC;
  border-right: 1px solid #558DB4;
  border-bottom: 1px solid #558DB4;
  margin: 12px 0;
  overflow-y: scroll;
  height: 180px;
}

.Hanoi .Logger .State {
  border: 0;
  border-right: 1px solid #558DB4;
  border-bottom: 1px solid #558DB4;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
}

.Hanoi .Logger .State.Current {
  border: 1px dotted #000000;
}

.Hanoi .Logger .State:hover {
  background-color: #d0d9ff;
}

.Hanoi .GameState {
  border: 0;
}
.Hanoi .GameState td {
  width: 16px;
  height: 16px;
  border-top: 1px solid #A8D0EC;
  border-left: 1px solid #A8D0EC;
  border-right: 1px solid #558DB4;
  border-bottom: 1px solid #558DB4;
  font: 12px verdana, sans-serif;
}
